.text-center {
    height: fit-content;
    padding-bottom: 10px;
    /* background-color:#e4a245; */
    margin-bottom: 25px;
}

.text-center h1 {
    font-size: 50px;
}

.text-center h2 {
    font-size: 30px;
}
.container-flex {
    background-color: rgb(110, 110, 110);
    min-height: 100vh;
    background-size: cover;
    font-family: 'Unica One', cursive;
}

.calculator, .results {
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    height: fit-content;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.results {
    margin-bottom: 10px;
    text-align: center;
}

.result {
    display: inline;
    margin: 5px;
    color: white;
}

#result {
    color: #ffc107;
}
.buttons {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

span {
    font-size: 35px;
}

.number, .operator, .equal {
    height: 90px;
    width: 90px;
}

.clear {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}


@media only screen and (max-width: 600px) {
    .text-center h2 {
        display: none;
    }

    .text-center h1 {
        font-size: 30px;
    }
    
    .text-center {
        background-color: rgb(110, 110, 110) !important;
        color:#ffc107;
        height: fit-content;
        padding: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .number, .operator, .equal {
        height: 65px;
        width: 65px;
    }

    .buttons {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    span {
        font-size: 25px;
    }
    
    .results {
        padding-bottom: 15px;
    }
}